@use 'normalize';
@use '@shoelace-style/shoelace/dist/themes/light.css';
@use '@shoelace-style/shoelace/dist/themes/dark.css';
@use 'variables-override';
@use 'simplebar.min';
@use 'media' as *;
@use 'mixins' as *;

html {
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-size: calcFluidFontSize(14, 20, 1023, 1920);
    line-height: var(--sl-line-height-normal);
}

pre, code {
    font-family: "Ubuntu Sans Mono", monospace;
    font-size: var(--sl-font-size-small);
}

pre {
    margin: 0;
    padding-bottom: var(--sl-spacing-medium);
}

code {
    @include backgroundColor(primary, 50);
    @include color(primary, 800);
    padding: var(--sl-spacing-2x-small);
    border-radius: var(--sl-border-radius-large);
    box-shadow: var(--sl-shadow-medium);
}

body {
    @include backgroundColor(neutral, 50);
    @include color(primary, 950);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

main {
    overflow: hidden;
}

.container {
    @include container(1550px, 2rem);
}

.header,
.footer {
    padding-top: var(--sl-spacing-large);
    padding-bottom: var(--sl-spacing-large);
    @include backgroundColor(neutral, 100);
    @include container(1550px, 2rem);
}

.footer {
    padding-top: var(--sl-spacing-medium);
    padding-bottom: var(--sl-spacing-medium);
}

.header {
    &__title {
        font-family: "Exile", system-ui;
        @include color(neutral, 800);
    }
    &__title-text {
        text-shadow: 4px 3px 0 var(--sl-color-neutral-0);
    }
    &__accent {
        @include color(yellow, 700);
    }
    &__text {
        margin: 0;
    }
}

.footer {
    display: flex;
    justify-content: flex-end;

    &__copyright {
        font-family: "Ubuntu Sans Mono", monospace;
        display: flex;
        align-items: center;
        gap: var(--sl-spacing-x-small);
    }

    &__logo {
        @include color(violet, 600);
        width: var(--sl-spacing-3x-large);
        height: var(--sl-spacing-3x-large);
    }
}

.ps-grid {
    display: flex;
    height: 100%;
    margin-bottom: 0;

    &__cell {
        display: grid;
        grid-template-rows: auto 1fr;
        flex-basis: 45%;
        max-width: 49%;
        flex-grow: 1;
    }
    &__title {
        font-size: var(--sl-font-size-x-large);
        letter-spacing: var(--sl-letter-spacing-loose);
        margin: 0;
        padding: var(--sl-spacing-medium) 0;
        text-shadow: 0px 3px 3px var(--sl-color-yellow-50);
    }
    &__divider {
        height: auto;
    }
}

#task-description,
#task-solution {
    height: 100%;
    overflow: auto;
}

.simplebar-scrollbar::before {
    background-image: linear-gradient(-131deg, var(--sl-color-primary-500) 0%, var(--sl-color-primary-50) 100%);
}
.simplebar-track.simplebar-vertical {
    width: var(--sl-spacing-medium);
}
.simplebar-track.simplebar-horizontal {
    height: var(--sl-spacing-medium);
}

#task-description {
    strong {
        @include color(warning, 500);
    }

    h1, h2, h3, h4 {
        letter-spacing: var(--sl-letter-spacing-dense);
        margin-bottom: var(--sl-spacing-large);
        margin-top: var(--sl-spacing-large);
    }

    p {
        margin-bottom: var(--sl-spacing-small);
    }

    h1, h2 {
        font-size: var(--sl-font-size-large);
    }

    h3, h4 {
        font-size: var(--sl-font-size-medium);
    }

    code {
        display: inline-block;
    }
}

#task-solution {
    line-height: var(--sl-line-height-dense);
}