@use 'normalize';
@use '@shoelace-style/shoelace/dist/themes/light.css';
@use '@shoelace-style/shoelace/dist/themes/dark.css';
@use 'variables-override' as *;
@use 'simplebar.min';
@use 'media' as *;
@use 'mixins' as *;

html {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-size: calcFluidFontSize(14, 20, 1023, 1920);
    line-height: var(--sl-line-height-normal);
    overflow: hidden;
}

pre, code {
    font-family: "Ubuntu Sans Mono", monospace;
    font-size: var(--sl-font-size-small);
}

pre {
    margin: 0;
    padding-bottom: var(--sl-spacing-medium);
}

code {
    @include backgroundColor(primary, 50);
    @include color(primary, 800);
    padding: var(--sl-spacing-2x-small);
    border-radius: var(--sl-border-radius-large);
    box-shadow: var(--sl-shadow-medium);
}

body {
    @include backgroundColor(neutral, 50);
    @include color(primary, 950);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

main {
    overflow: hidden;
}

.container {
    @include container(1550px, 2rem);
}

.header,
.footer {
    padding-top: var(--sl-spacing-large);
    padding-bottom: var(--sl-spacing-large);
    @include backgroundColor(neutral, 100);
    @include container(1550px, 2rem);
}

.footer {
    padding-top: var(--sl-spacing-medium);
    padding-bottom: var(--sl-spacing-medium);
}

.header {
    &__title {
        font-family: "Exile", system-ui;
        @include color(neutral, 800);
    }
    &__title-text {
        text-shadow: 4px 3px 0 var(--sl-color-neutral-0);
    }
    &__accent {
        @include color(yellow, 700);
    }
    &__text {
        margin: 0;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__copyright {
        font-family: "Ubuntu Sans Mono", monospace;
        display: flex;
        align-items: center;
        gap: var(--sl-spacing-x-small);
    }

    &__logo {
        @include color(neutral, 700);
        width: var(--sl-spacing-3x-large);
        height: var(--sl-spacing-3x-large);
    }

    &__theme-switcher {
        position: relative;

        &::after {
            content: '';
            pointer-events: none; //чтоб можно было кликнуть под него
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            backdrop-filter: invert(85%);
            border-radius: 50%;
            z-index: 2;
            transition: .4s ease-out;
            transition-delay: .4s;

            opacity: 0;
            width: 0;
            height: 0;
        }

        &:hover::after {
            opacity: 1;
            width: 555px;
            height: 555px;
        }
    }
}

.ps-grid {
    display: flex;
    height: 100%;
    margin-bottom: 0;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--sl-spacing-medium);
    }
    &__cell {
        display: grid;
        grid-template-rows: auto auto 1fr;
        flex-basis: 45%;
        // max-width: 49%;
        flex-grow: 1;

        &--bordered {
            border-left: 1px solid var(--sl-panel-border-color);
        }
    }
    &__title {
        font-size: var(--sl-font-size-x-large);
        letter-spacing: var(--sl-letter-spacing-loose);
        text-shadow: 0px 3px 3px var(--sl-color-neutral-50);
        margin: 0;
    }
    &__divider {
        height: auto;
    }
}

#task-description,
#task-solution {
    height: 100%;
    overflow: auto;
    padding: 0 var(--sl-spacing-medium);
}

.simplebar-scrollbar::before {
    @include gradient(primary);
    border-radius: 0;
}
.simplebar-track.simplebar-vertical {
    width: var(--sl-spacing-medium);
}
.simplebar-track.simplebar-horizontal {
    height: var(--sl-spacing-medium);
}
.simplebar-content {
    height: 100%;
}

#task-description {
    strong {
        @include color(warning, 500);
    }

    h1, h2, h3, h4 {
        font-weight: var(--sl-font-weight-semibold);
        letter-spacing: var(--sl-letter-spacing-dense);
        margin-bottom: var(--sl-spacing-large);
        margin-top: var(--sl-spacing-large);
    }

    p {
        font-weight: var(--sl-font-weight-light);
        margin-bottom: var(--sl-spacing-small);
    }

    h1, h2 {
        font-size: var(--sl-font-size-large);
    }

    h3, h4 {
        font-size: var(--sl-font-size-medium);
    }

    code {
        display: inline-block;
    }
}

.task-form {
    position: relative;
    display: flex;
    flex-direction: column;
    // grid-template-rows: auto 1fr auto;
    gap: var(--sl-spacing-medium);
    height: 100%;
    padding-top: var(--sl-spacing-medium);
    // padding-bottom: var(--sl-spacing-medium);

    sl-textarea {
        flex-grow: 1;
    }
}

.sl-toast-stack {
    left: 0;
    right: auto;
}

.form-buttons {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--sl-spacing-medium);
    @include backgroundColor(neutral, 50);
    padding: var(--sl-spacing-medium) 0;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--sl-spacing-medium);
}

.solution-textarea {
    resize: none;
    height: 100%;
}